In [2]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [3]:
database = "testdb.db"
connection =  sql.connect(database)

In [16]:
query = ''' 


SELECT  

personId as PersonID,


COUNT (DISTINCT siteId) AS VisitCount

FROM visits 

GROUP BY personId

ORDER BY VisitCount DESC LIMIT 10'''

In [21]:
df = pd.read_sql_query(query,connection)
df.head(10)

   PersonID  VisitCount
0        30          23
1        19          16
2         6          15
3         3          15
4         2          13
5        26          12
6        14          12
7        28          11
8        15          11
9        11          11