In [2]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [3]:
database = "testdb.db"
connection =  sql.connect(database)

In [6]:
query = '''
INSERT INTO  frequent_browsers (person_id, num_sites_visited)

SELECT  

personId as Person,


COUNT (DISTINCT siteId) AS VisitCount

FROM visits 

GROUP BY personId

ORDER BY VisitCount DESC LIMIT 10'''

In [9]:
df = pd.read_sql_query(query,connection)
df.head()

TypeError: 'NoneType' object is not iterable